body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

h1, h2 {
  color: #990808;
}

footer {
  background-color: #990808;
  color: white;
  font-size: 0.9rem;
}


/* Mobile-first default styles */

/* Tablet view adjustments */
@media (min-width: 768px) {
  .card {
    max-width: 500px;
  }
}

/* Desktop view adjustments */
@media (min-width: 1200px) {
  .card {
    max-width: 600px;
  }
}
